$surface-1: #16161c;
$surface-2: #232530;
$surface-3: #2e303e;
$surface-4: #2e303f;
$surface-5: #313135;


$accent-1: #e95678;
$accent-2: #f09383;
$accent-3: #fab795;
$accent-4: #29d398;
$accent-5: #1eb980;
$accent-6: #26bbd9;
$accent-7: #ee64ae;
$accent-8: #ec6a88;

$primary-accent: $accent-7;
$secondary-accent: $accent-4;

$foreground-color: lighten($surface-5, 45%);

$highlight: rgba(255,255,255,0.15);

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-2};