$surface-1: #0a0a0b;
$surface-2: #141415;
$surface-3: #1e1e20;
$surface-4: #28282a;
$surface-5: #313135;

$accent-1: #d65c5c;
$accent-2: #d68f5c;
$accent-3: #d6cc5c;
$accent-4: #5cd68f;
$accent-5: #5cccd6;
$accent-6: #5c5cd6;
$accent-7: #8f5cd6;
$accent-8: #d65cd6;

$primary-accent: $accent-7;
$secondary-accent: $accent-4;

$foreground-color: lighten($surface-5, 45%);

$highlight: rgba(255,255,255,0.15);

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-2};